<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Sortir.com {% endblock %}</title>

    <link rel ="icon" href=" {{ asset('img/eniLogo.png')}}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
    <div class = "container">
        <header>
         {% include("inc/nav.html.twig")%}   
        </header>
        <main>
            {% block body %}{% endblock %}
            {% if app.user %}
                <h2>Hello {{ app.user.firstname }} !</h2>
            {% endif %}
        </main>
        <footer>
        
            <div>&copy; {{ "now"|date("Y") }} Sortir.com</div>
        </footer>   
    </div>
</body>
</html>